<footer class="page-footer">
  <div class="container">
    <row>
      <div class="footer-links">
        <span class="col-xs-12 col-sm-4"><%= link_to "Contact", new_contact_path %></span>
        <span class="col-xs-12 col-sm-4"><%= link_to "Contact", new_contact_path %></span>
        <span class="col-xs-12 col-sm-4"><%= link_to "Contact", new_contact_path %></span>
      </div>
    </row>
  </div>
</footer>
