<% content_for :navbar do %>
  <%= render 'shared/navbar' %>
<% end %>

<div class="banner">
</div>
<p id="startchange"></p>

<div class="container">
  <div class="row">
    <% @feedbacks.each do |feedback|  %>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="feedback-card hoverable">
          <div class="card-up">
              <%= image_tag feedback.avatar.url(:thumb), class: "card-up-client" %>
          </div>
          <div class="card-content">
            <h5><%= feedback.client %></h5>
            <div class="divider-new"></div>
            <p>"<%=feedback.description %> "</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
