.banner {
  color: white;
  text-align: center;
  height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  // background-image:linear-gradient(107deg, rgba(0,25,29,0.6) 0%, rgba(0,-344,27,0.6) 50%), url('photo3.jpeg');
  background-image: url('https://images.unsplash.com/photo-1415725070650-5c9d2f65bafc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=574426b302b522de17684d5f544892dd');
  background-attachment:fixed;
  background-position:center center;
}
