.services-card {
  height: 250px;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 1px #F1C40F;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-horizontler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
